*{
    margin: 0;
    padding: 0;
}
main {
    width: 90%;
    max-width: 800px;
    margin: 32px auto;
  }
  list-pokemon {
    display: block;
    margin-top: 32px;
    width: 100%;
    padding: 16px;
  }
  
